/*
body {
margin: auto;
width: 80%;
padding: 10px;
background-color: lightblue;
border: 3px solid;
}
*/
#workspace {
  margin: auto;
  display: block;
  width: 512px;
  height: 512px;
  border: 3px solid;
  font-family: monaco;
}

#downloadArea {
  margin: auto;
  width: 256px;
  height: 16px;

}

#styleSettings {
  padding: 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 256px;

  text-align: center;
  background-color: #989898
}
