* {
  box-sizing: border-box;
}

input {
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
}

#workspace {
  margin: auto;
  display: block;
  width: 512px;
  height: 512px;
  border: 1px solid;
  font-family: monaco;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  resize: vertical;
  overflow: auto;
}

#downloadArea {
  margin: auto;
  width: 256px;
  height: 16px;

}

#settingsSlider {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

#styleSettings {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -256px;
  width: 256px;
  text-align: center;
  background-color: #9e9e9e;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

#settingsSlider:hover {
  left:256px;
  transition-delay: 0.0s;
}

#settingsSlider:hover #styleSettings {
  left: 0px;
  transition-delay: 0.0s;
}

#styleButton {
  position: absolute;
  width: 128px;
  left: 64px;
  bottom: 5px;
  color: #000000;

}

.editorOptions {
  margin-top: 5px;
  color: #ffffff;
}
